.adminContainer {
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.yearTitle {
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
}

.tableSection {
  margin-bottom: 8px;
}
